<link rel="stylesheet" href=" {{ url_for('static', filename='sobre.css')}}" />
  
<nav>
  <ul>
    <li><a href="#sessao1">Cursos</a></li>
    <li><a href="#sessao2">Doacoes </a></li>
    <li><a href="#sessao3">Galeria</a></li>
    <li><a href="#sessao4">Noticias</a></li>
    <li><a href="/">voltar</a></li>
  </ul>
</nav>


<section id="sessao1">
  <img class="receita" src="/static/img/informatica.jpg"></img>
  <a href='/curso'><h2>CURSO INFORMATICA BASICA</a></h2>
<br></br>
</section>

<section id="sessao2">
  <img class="receita" src="/static/img/receita1.jpeg"></img>
  
</section>

<section id="sessao3">
  <img class="receita" src="/static/img/receita2.jpeg"></img>

</section>

<section id="sessao4">
  <img class="receita" src="/static/img/receita3.jpeg"></img>

</section>
<footer>andrecorreiadev &copy</footer>